<head>
<link rel="stylesheet" href="/css/style.css">
</head>

<footer>
       <p>Copyright @2023 VictorDev All Rights are Reserved </p>
       <nav>
        <a href="#">Linkeldn</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
    </nav>
</footer>
