<head>
    <style>
      .navbar {
          position: fixed;
          width: 99%;
          top: 0;
          z-index: 1000;
        }


        .form_item {
            width: 300px;
            margin-bottom: 10px;
        }

        table {
            border-collapse: collapse;
            width: 70%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        .form_item input,
        .form_item select {
            width: 100%;
            box-sizing: border-box;
            padding: 8px;
            margin-bottom: 10px;
        }

        .navbar.navbar-expand-lg.bg-body-tertiary {
            background-color: #ADD8E6;
        }

        .cont {
            margin-top: 50px;
        }

        
    .logout button {
        width: 100%;
        padding: 8px;
        border-radius: 10px;
        background-color: #4CAF50; /* Green */
        color: white;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        margin-right: 40px;
    }

    .logout button:hover {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }
    </style>
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Inventory management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex justify-content-center">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sale">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/News">Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/test">Transaction</a>
          </li>
        </ul>
        </div>
          <ul class="navbar-nav ms-auto">
             <li class="nav-item">
                 <form action="/home" method="GET" class="logout">
                   <button type="submit" class="btn btn-link">LOG OUT</button>
                 </form>
             </li>
          </ul>
      </div>
    </div>
  </nav>